html,body{
  height: 100%;
}
body{
}
h1,h2,h3,h4,body,li,ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
}
div,p{
  margin: 0;
}

/*
.header-area{
  text-align: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    line-height: 70px;
  }
  img{
    position: absolute;
    top: 0;
    right: 0;
    height: 320px;
    width: auto;
    z-index: -1;
  }
}
.bottom-image{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 320px;
  width: auto;
  z-index: -1;
}
.left-area{
  width: 15%;
  display: inline-block;
  float: left;
  padding-top: 100px;
  margin-left: 5%;
}
.main-area{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  h2{
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  h3{
    font-size: 1rem;
  }
  .main-image{
    padding-top: 100px;
    img{
      height: 400px;
      width: auto;
      position: relative;
      z-index: -1
    }
  }
}
.right-area{
  width: 15%;
  display: inline-block;
  float: right;
  padding-top: 100px;
  margin-right: 5%
}

.circle{
  height: 160px;
  width: 160px;
  border-radius: 80px;
  background-color: #333;
  text-align: center;
  line-height: 160px;
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 50px;
  a{
    color: #fff;
    height: 160px;
    width: 160px;
    border-radius: 80px;
    display: block;
  }
}
.github-circle{
  a{
    &:before{
      content: "\f09b";
      font-family: FontAwesome;
      color: #fff;
    }
  }
}
.blog-circle{
  a{
    &:before{
      content:"\f044";
      font-family: FontAwesome;
      color: #fff;
    }
  }
}

.github{
  background: #333;
  padding: 10px 0;
  border-radius: 5px;
  width: 60%;
  margin: 10px auto;
  a{
    color: #fff;
  }
  &:before{
    content: "\f09b";
    font-family: FontAwesome;
    color: #fff;
  }
}
.blog{
  background: #333;
  padding: 10px 0;
  border-radius: 5px;
  width: 60%;
  margin: 10px auto;
  a{
    color: #fff;
  }
}
*/

/*
sample
*/
body{
  background: #EEEEEE;
}
.contents:before{
  position:absolute;
  width:0;
  height:0;
  right:0;
  bottom:0;
  content:"";
  border-top:calc(100vh / 3.6) solid transparent;
  border-right:calc(100vw / 2.4) solid #333;
  border-bottom:calc(100vh / 3.6) solid #333;
  border-left:calc(100vw / 2.4) solid transparent;
}

.contents{
  height: 100%;
}
.contents-inner{
  position: relative;
  height: 500;
  width: 1000px;
  display: block;
}
.title-area{
  text-align: center;
  padding: 5% 0;
  h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
    line-height: 70px;
  }
}
.circle1{
  color:#fff;
  position:absolute;
  top:15%;
  left:90%;
  width:calc(100vw / 18);
  height:calc(100vw / 18);
  line-height: calc(100vw / 18);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 3vw;
  }
  &:hover{
    background: #df6209;
  }
}
.circle2{
  color:#fff;
  position:absolute;
  top:35%;
  left:84%;
  width:calc(100vw / 13);
  height:calc(100vw / 13);
  line-height: calc(100vw / 13);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 4vw;
  }
  transition: all 300ms 0s ease;
  &:hover{
    background: #df6209;
  }
}
.circle3{
  color:#fff;
  position:absolute;
  top:24%;
  left:70%;
  width:calc(100vw / 10);
  height:calc(100vw / 10);
  line-height: calc(100vw / 10);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 1.5vw;
    margin: 0;
    p{
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  transition: all 300ms 0s ease;
  &:hover{
    background: #df6209;
  }
}
.circle4{
  color:#fff;
  position:absolute;
  top:42%;
  left:57%;
  width:calc(100vw / 8);
  height:calc(100vw / 8);
  line-height: calc(100vw / 8);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 2vw;
    margin: 0;
    p{
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  transition: all 300ms 0s ease;
  &:hover{
    background: #df6209;
  }
}
.circle5{
  color:#fff;
  position:absolute;
  top:28%;
  left:34%;
  width:calc(100vw / 6);
  height:calc(100vw / 6);
  line-height: calc(100vw / 6);
  border-radius: 50%;
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 2.5vw;
    margin: 0;
    p{
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  transition: all 300ms 0s ease;
  &:hover{
    background: #df6209;
  }
}
.circle6{
  color:#fff;
  position:absolute;
  top:50%;
  left:5%;
  width:calc(100vw / 4);
  height:calc(100vw / 4);
  line-height: calc(100vw / 4);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 3vw;
    margin: 0;
    p{
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  transition: all 300ms 0s ease;
  &:hover{
    background: #df6209;
  }
}
.description{
  color:#fff;
  position:absolute;
  right: 5%;
  bottom: 10%;
  margin: auto;
  text-align: right;
}
