$main-color: #333;
$sub-color: #df6209;

html,body{
  height: 100%;
  color: #333;
}
body{
}
h1,h2,h3,h4,body,li,ul{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
}
div,p,header{
  margin: 0;
}

/*

*/

/*
sample
*/
body{
  background: #EEEEEE;
}
.page-title{
  color: #333;
}
.contents:before{
  position:absolute;
  width:0;
  height:0;
  right:0;
  bottom:0;
  content:"";
  border-top:calc(100vh / 3.6) solid transparent;
  border-right:calc(100vw / 2.4) solid #333;
  border-bottom:calc(100vh / 3.6) solid #333;
  border-left:calc(100vw / 2.4) solid transparent;
}
.line2{
  position:absolute;
  width:0;
  height:0;
  top:0;
  left:0;
  content:"";
  border-bottom:calc(100vh / 3) solid transparent;
  border-left:calc(100vw / 8) solid #333;
  border-top:calc(100vh / 3) solid #333;
  border-right:calc(100vw / 8) solid transparent;
  z-index: -3;
}
.line1{
  position:absolute;
  width:0;
  height:0;
  left:0;
  bottom:0;
  content:"";
  border-bottom:calc(100vh / 2.5) solid #df6209;
  border-right:calc(100vw / 3.5) solid transparent;
  border-top:calc(100vh / 2.5) solid transparent;
  border-left:calc(100vw / 3.5) solid #df6209;
  z-index: -2;
}

.contents{
  height: auto;
}
.contents-inner{
  position: relative;
  height: 500;
  width: 1000px;
  display: block;
}
.title-area{
  text-align: center;
  padding: 5% 0;
  h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
  }
  h2{
    font-size: 1rem;
  }
}
.circle1{
  color:#fff;
  position:absolute;
  top:15%;
  left:90%;
  width:calc(100vw / 18);
  height:calc(100vw / 18);
  line-height: calc(100vw / 18);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 3vw;
    i{
      vertical-align: middle;
    }
  }
  &:hover{
    background: #df6209;
    top:calc(15% - (100vw / 17.1 - 100vw / 18) / 2);
    left:calc(90% - (100vw / 17.1 - 100vw / 18) / 2);
    width:calc(100vw / 17.1);
    height:calc(100vw / 17.1);
    line-height: calc(100vw / 17.1);
  }
}
.circle2{
  color:#fff;
  position:absolute;
  top:33%;
  left:84%;
  width:calc(100vw / 13);
  height:calc(100vw / 13);
  line-height: calc(100vw / 13);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 4vw;
    i{
      vertical-align: middle;
    }
  }
  transition: all 300ms 0s ease;
  &:hover{
    background: #df6209;
    top:calc(33% - (100vw / 12.35 - 100vw / 13) / 2);
    left:calc(84% - (100vw / 12.35 - 100vw / 13) / 2);
    width:calc(100vw / 12.35);
    height:calc(100vw / 12.35);
    line-height: calc(100vw / 12.35);
  }
}
.circle3{
  color:#fff;
  position:absolute;
  top:24%;
  left:70%;
  width:calc(100vw / 10);
  height:calc(100vw / 10);
  line-height: calc(100vw / 10);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 1.5vw;
    margin: 0;
    p{
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  transition: all 300ms 0s ease;
  &:hover{
    background: #df6209;
    top:calc(24% - (100vw / 9.5 - 100vw / 10) / 2);
    left:calc(70% - (100vw / 9.5 - 100vw / 10) / 2);
    width:calc(100vw / 9.5);
    height:calc(100vw / 9.5);
    line-height: calc(100vw / 9.5);
    letter-spacing: 3px;
  }
}
.circle4{
  color:#fff;
  position:absolute;
  top:40%;
  left:57%;
  width:calc(100vw / 8);
  height:calc(100vw / 8);
  line-height: calc(100vw / 8);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 2vw;
    margin: 0;
    p{
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  transition: all 300ms 0s ease;
  &:hover{
    background: #df6209;
    top:calc(40% - (100vw / 7.6 - 100vw / 8) / 2);
    left:calc(57% - (100vw / 7.6 - 100vw / 8) / 2);
    width:calc(100vw / 7.6);
    height:calc(100vw / 7.6);
    line-height: calc(100vw / 7.6);
    letter-spacing: 3px;
  }
}
.circle5{
  color:#fff;
  position:absolute;
  top:28%;
  left:34%;
  width:calc(100vw / 6);
  height:calc(100vw / 6);
  line-height: calc(100vw / 6);
  border-radius: 50%;
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 2.5vw;
    margin: 0;
    p{
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  transition: all 300ms 0s ease;
  &:hover{
    background: #df6209;
    top:calc(28% - (100vw / 5.7 - 100vw / 6) / 2);
    left:calc(34% - (100vw / 5.7 - 100vw / 6) / 2);
    width:calc(100vw / 5.7);
    height:calc(100vw / 5.7);
    line-height: calc(100vw / 5.7);
    letter-spacing: 3px;
  }
}
.circle6{
  color:#fff;
  position:absolute;
  top:45%;
  left:5%;
  width:calc(100vw / 4);
  height:calc(100vw / 4);
  line-height: calc(100vw / 4);
  border-radius: 50%;
  background: #333;
  text-align: center;
  a{
    color: #fff;
    font-size: 3vw;
    margin: 0;
    p{
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  transition: all 300ms 0s ease;
  &:after{
    transition: all 300ms 0s ease;
  }
  &:hover{
    background: #df6209;
    letter-spacing: 3px;
    &:after{
      position:absolute;
      top:calc(0% - (100vw / 3.8 - 100vw / 4) / 2);
      left:calc(0% - (100vw / 3.8 - 100vw / 4) / 2);
      content:"";
      width:calc(100vw / 3.8);
      height:calc(100vw / 3.8);
      background: #333;
      border-radius: 50%;
      z-index: -1;
    }
  }
}
.description{
  color:#fff;
  position:absolute;
  right: 5%;
  bottom: 5%;
  margin: auto;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
  .contact{
    text-align: right;
    background: #EEEEEE;
    width: 300px;
    float: right;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    margin-top: 20px;
    transition: all 300ms 0s ease;
    a{
      color: $main-color;
    }
    &:hover{
      background: $sub-color;
      letter-spacing: 3px;
    }
  }
}

.history-box{
  table{
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    th{
      background-color: #333;
      color: #fff;
      border: 1px solid #fff;
    }
    td{
      background-color: #fff;
      font-size: 0.8rem;
      padding: 5px;
    }
  }
}
