<div class="main-area">
  <div class="tl-corner">
  </div>
  <div class="tr-corner">
  </div>
  <div class="bl-corner">
  </div>
  <div class="br-corner">
  </div>
  <header>
    <%= erb :header %>
    <h2>Design</h2>
    <h3>Webページのデザインを置いていきます。</h3>
  </header>
  <div class="design-box">
    <ul>
      <li>
          <div class="artifact-text">
            <p class="artifact-title"><a href="design/portfolio-sample">ポートフォリオ候補１</a></p>
            <p class="artifact-description">ポートフォリオのトップページ候補。エンジニアのポートフォリオとしての雰囲気にそぐわないと判断したため、現在のデザインに変更。個人的にはお気に入り。</p>
            <p class="artifact-description"><span>素材は</span><a href="https://flowerillust.com/">百花繚乱</a><span>様からお借りしております。いつも素敵な素材をありがとうございます。</span></p>
          </div><div class="artifact-image">
            <a href="design/portfolio-sample"><img src="../images/ps1.png"></a>
          </div>
      </li>
    </ul>
  </div>
</div>
