<link rel="stylesheet" href="/stylesheets/main.css">
<div class="history-main">
  <div class="tl-corner">
  </div>
  <div class="tr-corner">
  </div>
  <div class="bl-corner">
  </div>
  <div class="br-corner">
  </div>
  <header>
    <%= erb :header %>
    <h2>History</h2>
    <h3>これまでの職務経歴を書いていきます。(随時更新)</h3>
  </header>
  <div class="history-box">
    <table>
      <tr>
        <th colspan="4">
          基本情報
        </th>
      </tr>
      <tr>
        <th>
          氏名
        </th>
        <td>
          トビタ ソウキチ
        </td>
        <th>
          年齢
        </th>
        <td>
          26
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <th>自己PR</th>
      </tr>
      <tr>
        <td>
          Ruby・JavaによるWebサービスの機能追加開発/障害対応に携わってきました。大規模なシステムに触れる機会が多かったことから、複雑な構造のシステムであっても、早期の機能把握を持ってお客様に貢献させていただきます。また新規サービスの立ち上げにも関わったことからスピード感のある開発を円滑なコミュニケーションを以て進めることについても自信を持っております。サーバーサイドはもちろんのこと、フロントエンドについても強い関心を以って対応・学習を取らせていただいておりますため、幅広くお客様のご期待にお応えいたします。
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <th>
          資格
        </th>
        <td>
          1Z0-803-JPN Java SE 7 Programmer I(Java Silver)
        </td>
      </tr>
    </table>

    <table class="career">
      <tr>
        <th>期間</th>
        <th>プロジェクト概要</th>
        <th>担当業務</th>
        <th>使用技術</th>
        <th>ツール等</th>
      </tr>
      <tr>
        <td>2017/9 〜 継続中</td>
        <td>教育現場向けICTツール改修プロジェクト</td>
        <td>
          <ul>
            <li>・教員向け管理ツール</li>
            <li>・学生向け動画教材</li>
            <li>・基本設計</li>
            <li>・詳細設計</li>
            <li>・実装</li>
            <li>・障害対応</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Ruby</li>
            <li>Ruby on Rails 4.2</li>
            <li>javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
            <li>slim</li>
            <li>MySQL</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Rspec</li>
            <li>Git</li>
            <li>GitHub</li>
            <li>Slack</li>
            <li>backlog</li>
            <li>Confluence</li>
            <li>esa</li>
            <li>Google Drive</li>
            <li>Cacoo</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>2017/8 〜 継続中</td>
        <td>店舗予約システム新規開発プロジェクト</td>
        <td>
          <ul>
            <li>・顧客管理</li>
            <li>・OAuthログイン</li>
            <li>・運営向け管理ページ</li>
            <li>・店舗向け管理ページ</li>
            <li>・決済API連携</li>
            <li>・要件定義</li>
            <li>・基本設計</li>
            <li>・詳細設計</li>
            <li>・実装</li>
            <li>・フロントエンドコーディング</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Ruby2.4</li>
            <li>Ruby on Rails 5.1</li>
            <li>javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
            <li>BootStrap4</li>
            <li>MySQL</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Git</li>
            <li>GitHub</li>
            <li>Slack</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>2015/2 〜 2017/8</td>
        <td>ECサイトエンハンスプロジェクト</td>
        <td>
          <ul>
            <li>・顧客管理システム</li>
            <li>・製品管理システム</li>
            <li>・オーダー管理システム</li>
            <li>・外部インターフェースとの連携</li>
            <li>・詳細設計</li>
            <li>・実装</li>
            <li>・テストケース作成/実施</li>
            <li>・結合テスト</li>
            <li>・障害調査</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Java7</li>
            <li>Enfinity</li>
            <li>javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Oracle</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>SVN</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>2014/4 〜 2014/12</td>
        <td>SAPパッケージ関連の機能改修</td>
        <td>
          <ul>
            <li>・SAP社のERPパッケージにおける、ABAPを用いたプログラミング</li>
            <li>・C#を用いたSAPパッケージとActiveDirectoryの連携システムの改修</li>
            <li>・詳細設計</li>
            <li>・実装</li>
            <li>・テストケース作成・実施</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>ABAP</li>
            <li>C#</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Visual Studio</li>
          </ul>
        </td>
      </tr>

    </table>

  </div>

  <div class="history-box-mobile">
    <table>
      <tr>
        <th colspan="2">
          基本情報
        </th>
      </tr>
      <tr>
        <th>
          氏名
        </th>
        <td>
          トビタ ソウキチ
        </td>
      </tr>
      <tr>
        <th>
          年齢
        </th>
        <td>
          26
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <th>自己PR</th>
      </tr>
      <tr>
        <td>
          Ruby・JavaによるWebサービスの機能追加開発/障害対応に携わってきました。大規模なシステムに触れる機会が多かったことから、複雑な構造のシステムであっても、早期の機能把握を持ってお客様に貢献させていただきます。また新規サービスの立ち上げにも関わったことからスピード感のある開発を円滑なコミュニケーションを以て進めることについても自信を持っております。サーバーサイドはもちろんのこと、フロントエンドについても強い関心を以って対応・学習を取らせていただいておりますため、幅広くお客様のご期待にお応えいたします。
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <th>
          資格
        </th>
        <td>
          1Z0-803-JPN<br>Java SE 7 Programmer I(Java Silver)
        </td>
      </tr>
    </table>

    <table class="career">
      <tr>
        <th>期間</th>
      </tr>
      <tr>
        <td>2017/9 〜 継続中</td>
      </tr>
      <tr>
        <th>プロジェクト概要</th>
      </tr>
      <tr>
        <td>教育現場向けICTツール改修プロジェクト</td>
      </tr>
      <tr>
        <th>担当業務</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>・教員向け管理ツール</li>
            <li>・学生向け動画教材</li>
            <li>・基本設計</li>
            <li>・詳細設計</li>
            <li>・実装</li>
            <li>・障害対応</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>使用技術</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Ruby</li>
            <li>Ruby on Rails 4.2</li>
            <li>javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
            <li>slim</li>
            <li>MySQL</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>ツール等</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Rspec</li>
            <li>Git</li>
            <li>GitHub</li>
            <li>Slack</li>
            <li>backlog</li>
            <li>Confluence</li>
            <li>esa</li>
            <li>Google Drive</li>
            <li>Cacoo</li>
          </ul>
        </td>
      </tr>
    </table>

    <div class="up-arrow">
    </div>

    <table>
      <tr>
        <th>期間</th>
      </tr>
      <tr>
        <td>2017/8 〜 継続中</td>
      </tr>
      <tr>
        <th>プロジェクト概要</th>
      </tr>
      <tr>
        <td>店舗予約システム新規開発プロジェクト</td>
      </tr>
      <tr>
        <th>担当業務</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>・顧客管理</li>
            <li>・OAuthログイン</li>
            <li>・運営向け管理ページ</li>
            <li>・店舗向け管理ページ</li>
            <li>・決済API連携</li>
            <li>・要件定義</li>
            <li>・基本設計</li>
            <li>・詳細設計</li>
            <li>・実装</li>
            <li>・フロントエンドコーディング</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>使用技術</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Ruby2.4</li>
            <li>Ruby on Rails 5.1</li>
            <li>javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
            <li>BootStrap4</li>
            <li>MySQL</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>ツール等</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Git</li>
            <li>GitHub</li>
            <li>Slack</li>
          </ul>
        </td>
      </tr>
    </table>

    <div class="up-arrow">
    </div>

    <table>
      <tr>
        <th>期間</th>
      </tr>
      <tr>
        <td>2015/2 〜 2017/8</td>
      </tr>
      <tr>
        <th>プロジェクト概要</th>
      </tr>
      <tr>
        <td>ECサイトエンハンスプロジェクト</td>
      </tr>
      <tr>
        <th>担当業務</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>・顧客管理システム</li>
            <li>・製品管理システム</li>
            <li>・オーダー管理システム</li>
            <li>・外部インターフェースとの連携</li>
            <li>・詳細設計</li>
            <li>・実装</li>
            <li>・テストケース作成/実施</li>
            <li>・結合テスト</li>
            <li>・障害調査</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>使用技術</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Java7</li>
            <li>Enfinity</li>
            <li>javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Oracle</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>ツール等</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>SVN</li>
          </ul>
        </td>
      </tr>
    </table>

    <div class="up-arrow">
    </div>

    <table>
      <tr>
        <th>期間</th>
      </tr>
      <tr>
        <td>2014/4 〜 2014/12</td>
      </tr>
      <tr>
        <th>プロジェクト概要</th>
      </tr>
      <tr>
        <td>SAPパッケージ関連の機能改修</td>
      </tr>
      <tr>
        <th>担当業務</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>・SAP社のERPパッケージにおける、ABAPを用いたプログラミング</li>
            <li>・C#を用いたSAPパッケージとActiveDirectoryの連携システムの改修</li>
            <li>・詳細設計</li>
            <li>・実装</li>
            <li>・テストケース作成・実施</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>使用技術</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>ABAP</li>
            <li>C#</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>ツール等</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Visual Studio</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="history-footer">
    <a href="/"><img src="../images/icon-white.png"></a>
  </div>
</div>
