<div class="title-area">
  <h1>ST-Works</h1>
  <h2>都内で活動中のWebエンジニアのポートフォリオ</h2>
</header>
<div class="contents">
  <div class="circle1">
    <a href="https://twitter.com/tobita0000" target="_blank"><i class="fa fa-twitter faa-wrench animated"></i></a>
  </div>
  <div class="circle2">
    <a href="#"><i class="fa fa-github"></i></a>
  </div>
  <div class="circle3">
    <a href="https://tisnote.com/" target="_blank">
      <p>Blog</p>
    </a>
  </div>
  <div class="circle4">
    <a href="#">
      <p>History</p>
    </a>
  </div>
  <div class="circle5">
    <a href="#">
      <p>Design</p>
    </a>
  </div>
  <div class="circle6">
    <a href="#">
      <p>Products</p>
    </a>
  </div>
  <div class="line1">
  </div>
  <div class="line2">
  </div>
  <div class="line3">
  </div>
  <div class="description">
    <p>Webアプリケーション/Webデザイン</p>
    <p>言語：Ruby/Java/javascript/Python/Scala</p>
    <p>フレームワーク：Ruby on Rails/React/Redux</p>
    <p>お問い合わせ、またはTwitterからお仕事の依頼をいただければ嬉しいです。</p>
  </div>
</div>
