<link rel="stylesheet" href="/stylesheets/main.css">
<header class="title-area">
  <h1>ST-Works</h1>
  <h2>都内で活動中のWebエンジニアのポートフォリオ</h2>
</header>
<div class="contents">
  <div class="circle1">
    <a href="https://twitter.com/tobita0000" target="_blank"><i class="fa fa-twitter faa-wrench animated"></i></a>
  </div>
  <div class="circle2">
    <a href="https://github.com/stobita"><i class="fa fa-github"></i></a>
  </div>
  <div class="circle3">
    <a href="https://tisnote.com/" target="_blank">
      <p>Blog</p>
    </a>
  </div>
  <div class="circle4">
    <a href="history">
      <p>History</p>
    </a>
  </div>
  <div class="circle5">
    <a href="design">
      <p>Design</p>
    </a>
  </div>
  <div class="circle6">
    <a href="products">
      <p>Products</p>
    </a>
  </div>
  <div class="line1">
  </div>
  <div class="line2">
  </div>
  <div class="line3">
  </div>
  <div class="description">
    <p>Webアプリケーション/Webデザイン</p>
    <p>言語：Ruby/Java/javascript/Golang/Scala</p>
    <p>フレームワーク：Ruby on Rails/React/Redux</p>
    <p>その他：WordPress</p>
    <p>Webサービス/個人サイト/企業サイトの作成承っております。</p>
    <p>お問い合わせ、またはTwitterからお仕事の依頼をいただければ嬉しいです。</p>
    <div class="contact">
      <a href="https://tisnote.com/contact/"><i class="fa fa-envelope"></i>メールでのお問い合わせ</a>
    </div>
  </div>
</div>

<div class="contents-mobile">
  <div class="square black-bg">
    <a href="products">
      <p>Products</p>
    </a>
  </div><div class="square orange-bg">
    <a href="history">
      <p>History</p>
    </a>
  </div>
  <div class="square orange-bg">
    <a href="blog">
      <p>Blog</p>
    </a>
  </div><div class="square black-bg">
    <a href="design">
      <p>Design</p>
    </a>
  </div>

  <div class="square black-bg">
    <a href="blog">
      <a href="https://github.com/stobita"><i class="fa fa-github"></i></a>
    </a>
  </div><div class="square orange-bg">
    <a href="design">
      <a href="https://twitter.com/tobita0000" target="_blank"><i class="fa fa-twitter faa-wrench animated"></i></a>
    </a>
  </div>
</div>
<div class="footer-mobile black-bg text-white">
  <p class="description-head">Webアプリケーション&Webデザイン</p>
  <p class="text-orange text-bold">言語</p>
  <p>Ruby/Java/javascript/Golang/Scala</p>
  <p class="text-orange text-bold">フレームワーク</p>
  <p>Ruby on Rails/React/Redux</p>
  <p class="text-orange text-bold">その他</p>
  <p>WordPress</p>
  <p>Webサービス/個人サイト/企業サイトの作成承っております。</p>
  <p>お問い合わせ、またはTwitterからお仕事の依頼をいただければ嬉しいです。</p>
  <div class="contact">
    <a href="https://tisnote.com/contact/"><i class="fa fa-envelope"></i>メールでのお問い合わせ</a>
  </div>
</div>
