<div class="main-area">
  <div class="tl-corner">
  </div>
  <div class="tr-corner">
  </div>
  <div class="bl-corner">
  </div>
  <div class="br-corner">
  </div>
  <header>
    <%= erb :header %>
    <h2>Products</h2>
    <h3>作成したWebアプリケーションやツールなどを置いていきます。</h3>
  </header>
  <div class="products-box">
    <ul>
      <li>
        <div class="artifact-text">
          <p class="artifact-title"><a href="https://hideword.com/">暗記サポートアプリ</a></p>
          <p class="artifact-description">Ruby on Railsの学習の仕上げとして作成した暗記サポートWebアプリ。SNS的なコミュニケーション要素やカテゴリタグなどなんだかんだで細かいところまで頑張って作りました。</p>
          <p class="artifact-description">受験勉強、資格勉強に励む方々をターゲットにシンプルかつオシャレなUIを意識しました。もちろんレスポンシブ対応。サイト名がキザったらしくなってしまったことが唯一の後悔。</p>
          <p class="artifact-description">ひっそりとAndroidアプリとしてもリリースしてたりします。</p>
        </div><div class="artifact-image">
          <a href="https://hideword.com/"><img src="../images/hideword.png"></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="products-box-mobile">
    <a href="https://hideword.com/"><img src="../images/hideword.png"></a>
    <p class="artifact-title"><a href="https://hideword.com/">暗記サポートアプリ</a></p>
    <p class="artifact-description">Ruby on Railsの学習の仕上げとして作成した暗記サポートWebアプリ。SNS的なコミュニケーション要素やカテゴリタグなどなんだかんだで細かいところまで頑張って作りました。</p>
    <p class="artifact-description">受験勉強、資格勉強に励む方々をターゲットにシンプルかつオシャレなUIを意識しました。もちろんレスポンシブ対応。サイト名がキザったらしくなってしまったことが唯一の後悔。</p>
    <p class="artifact-description">ひっそりとAndroidアプリとしてもリリースしてたりします。</p>
  </div>
</div>
